<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>138.33.0.157554</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {559.28998, 782.89001}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2013-01-03 12:56:41 +0000</string>
	<key>Creator</key>
	<string>Cyril Gabathuler</string>
	<key>DisplayScale</key>
	<string>1.000 cm = 1.000 cm</string>
	<key>ExportShapes</key>
	<array>
		<dict>
			<key>InspectorGroup</key>
			<real>255</real>
			<key>ShapeImageRect</key>
			<string>{{2, 2}, {22, 22}}</string>
			<key>ShapeName</key>
			<string>AA42B492-1126-4B04-A268-F8B18258B181-80291-0001D23051865133</string>
			<key>ShouldExport</key>
			<string>YES</string>
			<key>StrokePath</key>
			<dict>
				<key>elements</key>
				<array>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{0.173031, 0.28300199}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.123018, 0.24563}</string>
						<key>control2</key>
						<string>{0.059433699, 0.205485}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.042500701, 0.205485}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.0147798, 0.205485}</string>
						<key>control2</key>
						<string>{-0.00600767, 0.168835}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.012928, 0.144398}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.01987, 0.119962}</string>
						<key>control2</key>
						<string>{0.0053629898, 0.0284355}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.00091362, 0.0100064}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.00186968, 0.0099302502}</string>
						<key>control2</key>
						<string>{0.0123715, 0.0161002}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.015864599, 0.0161002}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.0227859, 0.0161002}</string>
						<key>control2</key>
						<string>{0.026365999, 0.0099302502}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.026365999, -0.0085722199}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.026365999, -0.020788001}</string>
						<key>control2</key>
						<string>{0.033351202, -0.064081803}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.033351202, -0.064081803}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.033351202, -0.064081803}</string>
						<key>control2</key>
						<string>{0.040358499, -0.101088}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.040358499, -0.119591}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.038210399, -0.144673}</string>
						<key>control2</key>
						<string>{0.035564698, -0.148817}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.0286438, -0.148817}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.021701301, -0.148817}</string>
						<key>control2</key>
						<string>{0.0286438, -0.222124}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.0286438, -0.222124}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.0286438, -0.222124}</string>
						<key>control2</key>
						<string>{0.042506501, -0.36873099}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.0078563699, -0.39317101}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.00091362, -0.42982}</string>
						<key>control2</key>
						<string>{-0.0129499, -0.43502399}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.026791099, -0.45425501}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.026791099, -0.46526}</string>
						<key>control2</key>
						<string>{-0.065380797, -0.49397501}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.110057, -0.49918199}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.110057, -0.5}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.112396, -0.50000298}</string>
						<key>control2</key>
						<string>{-0.114733, -0.499933}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.117055, -0.499798}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.119375, -0.499933}</string>
						<key>control2</key>
						<string>{-0.121705, -0.50000298}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.124043, -0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.124043, -0.49918199}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.168735, -0.49397501}</string>
						<key>control2</key>
						<string>{-0.207307, -0.46526}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.207307, -0.454254}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.221163, -0.43502399}</string>
						<key>control2</key>
						<string>{-0.23503, -0.42982}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.241955, -0.39317101}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.2766, -0.36873099}</string>
						<key>control2</key>
						<string>{-0.26273599, -0.222122}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.26273599, -0.222122}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.26273599, -0.222122}</string>
						<key>control2</key>
						<string>{-0.255813, -0.148817}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.26273599, -0.148817}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.26967499, -0.148817}</string>
						<key>control2</key>
						<string>{-0.27232099, -0.144673}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.27445701, -0.119591}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.27445701, -0.101088}</string>
						<key>control2</key>
						<string>{-0.267463, -0.064081803}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.267463, -0.064081803}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.267463, -0.064081803}</string>
						<key>control2</key>
						<string>{-0.26046401, -0.020788001}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.26046401, -0.0085722199}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.26046401, 0.0099302502}</string>
						<key>control2</key>
						<string>{-0.25689599, 0.0161002}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.24997599, 0.0161002}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.246472, 0.0161002}</string>
						<key>control2</key>
						<string>{-0.235984, 0.0099302502}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.235029, 0.0100064}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.239476, 0.0284355}</string>
						<key>control2</key>
						<string>{-0.21424399, 0.119962}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.221178, 0.144398}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.228093, 0.168835}</string>
						<key>control2</key>
						<string>{-0.248891, 0.205485}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.27659699, 0.205485}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.304317, 0.205485}</string>
						<key>control2</key>
						<string>{-0.456738, 0.31285501}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.47060499, 0.33987799}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.484447, 0.36689201}</string>
						<key>control2</key>
						<string>{-0.50000101, 0.49999899}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.5, 0.49999899}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.5, 0.5}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.49999899, 0.5}</string>
						<key>control2</key>
						<string>{0.490881, 0.40663701}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.48178601, 0.388906}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.47267899, 0.37114701}</string>
						<key>control2</key>
						<string>{0.37215599, 0.30514801}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.353957, 0.30514801}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.33574399, 0.30514801}</string>
						<key>control2</key>
						<string>{0.322079, 0.28106499}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.31752399, 0.265008}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.31297001, 0.248951}</string>
						<key>control2</key>
						<string>{0.32956401, 0.18881001}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.32663399, 0.17670199}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.32726499, 0.176653}</string>
						<key>control2</key>
						<string>{0.33415899, 0.180704}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.33646101, 0.180704}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.34100401, 0.180704}</string>
						<key>control2</key>
						<string>{0.343339, 0.176653}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.343339, 0.16449299}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.343339, 0.15646499}</string>
						<key>control2</key>
						<string>{0.34794801, 0.12801699}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.34794801, 0.12801699}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.34794801, 0.12801699}</string>
						<key>control2</key>
						<string>{0.352541, 0.103699}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.352541, 0.0915436}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.35113499, 0.075061701}</string>
						<key>control2</key>
						<string>{0.349406, 0.0723387}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.344854, 0.0723387}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.340294, 0.0723387}</string>
						<key>control2</key>
						<string>{0.344854, 0.0241719}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.344854, 0.0241719}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.344854, 0.0241719}</string>
						<key>control2</key>
						<string>{0.353957, -0.072163202}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.331193, -0.088220999}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.32663399, -0.112301}</string>
						<key>control2</key>
						<string>{0.31752199, -0.115723}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.308424, -0.128359}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.308424, -0.13558801}</string>
						<key>control2</key>
						<string>{0.28308401, -0.154458}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.253703, -0.15788101}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.253703, -0.158416}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.25218499, -0.158419}</string>
						<key>control2</key>
						<string>{0.25064501, -0.158373}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.249127, -0.15828399}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.24758901, -0.158373}</string>
						<key>control2</key>
						<string>{0.246068, -0.158419}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.244527, -0.158416}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.244527, -0.15788101}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.21516401, -0.154458}</string>
						<key>control2</key>
						<string>{0.189812, -0.13558801}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.189812, -0.12835801}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.180712, -0.115723}</string>
						<key>control2</key>
						<string>{0.1716, -0.112301}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.167052, -0.088220999}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.14427599, -0.072163202}</string>
						<key>control2</key>
						<string>{0.15339001, 0.0241729}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.15339001, 0.0241729}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.15339001, 0.0241729}</string>
						<key>control2</key>
						<string>{0.157942, 0.0723387}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.15339001, 0.0723387}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.14883301, 0.0723387}</string>
						<key>control2</key>
						<string>{0.14709599, 0.075061701}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.145703, 0.0915436}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.145703, 0.103699}</string>
						<key>control2</key>
						<string>{0.15030099, 0.12801699}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.15030099, 0.12801699}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.15030099, 0.12801699}</string>
						<key>control2</key>
						<string>{0.15489499, 0.15646499}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.15489499, 0.16449299}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.15489499, 0.176653}</string>
						<key>control2</key>
						<string>{0.15723699, 0.180704}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.161792, 0.180704}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.164095, 0.180704}</string>
						<key>control2</key>
						<string>{0.170957, 0.176653}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.1716, 0.17670199}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.168662, 0.18881001}</string>
						<key>control2</key>
						<string>{0.185266, 0.248951}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.180711, 0.265008}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.179152, 0.27049601}</string>
						<key>control2</key>
						<string>{0.17651799, 0.276921}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.173031, 0.28300199}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>CLOSE</string>
					</dict>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{0.173031, 0.28300199}</string>
					</dict>
				</array>
			</dict>
			<key>TextBounds</key>
			<string>{{0, 0}, {1, 1}}</string>
		</dict>
	</array>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{387, 611}, {2, 12}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>41827</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{125.5, 320}, {17, 24}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>41823</integer>
			<key>Line</key>
			<dict>
				<key>ID</key>
				<integer>41819</integer>
				<key>Position</key>
				<real>0.44119483232498169</real>
				<key>RotationType</key>
				<integer>0</integer>
			</dict>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 4}</string>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{278.5, 255.71887}, {17, 24}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>41822</integer>
			<key>Line</key>
			<dict>
				<key>ID</key>
				<integer>21</integer>
				<key>Position</key>
				<real>0.47657907009124756</real>
				<key>RotationType</key>
				<integer>0</integer>
			</dict>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 3}</string>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{377, 151}, {17, 24}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>41821</integer>
			<key>Line</key>
			<dict>
				<key>ID</key>
				<integer>19</integer>
				<key>Position</key>
				<real>0.50719189643859863</real>
				<key>RotationType</key>
				<integer>0</integer>
			</dict>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 2}</string>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{201.49988, 58.079292}, {17, 24}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>41820</integer>
			<key>Line</key>
			<dict>
				<key>ID</key>
				<integer>12</integer>
				<key>Position</key>
				<real>0.46280130743980408</real>
				<key>RotationType</key>
				<integer>0</integer>
			</dict>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 1}</string>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>41819</integer>
			<key>Points</key>
			<array>
				<string>{134, 309}</string>
				<string>{134, 361.13116}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{71.496002, 361.13116}, {106.90587, 60.627682}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>41817</integer>
			<key>Shape</key>
			<string>AA42B492-1126-4B04-A268-F8B18258B181-80291-0001D23051865133</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.4</string>
						<key>g</key>
						<string>0.4</string>
						<key>r</key>
						<string>0.4</string>
					</dict>
					<key>FillType</key>
					<integer>2</integer>
					<key>GradientAngle</key>
					<real>70</real>
					<key>GradientColor</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>MiddleColor</key>
					<dict>
						<key>b</key>
						<string>0.32549</string>
						<key>g</key>
						<string>0.32549</string>
						<key>r</key>
						<string>0.32549</string>
					</dict>
					<key>MiddleFraction</key>
					<real>0.18253970146179199</real>
					<key>TrippleBlend</key>
					<string>YES</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.425743</string>
						<key>g</key>
						<string>0.425743</string>
						<key>r</key>
						<string>0.425743</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
					<key>ShadowVector</key>
					<string>{0, -5}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>5</integer>
			</dict>
			<key>ID</key>
			<integer>21</integer>
			<key>Points</key>
			<array>
				<string>{357, 267.71887}</string>
				<string>{210.11986, 267.71887}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>16</integer>
			</dict>
			<key>ID</key>
			<integer>19</integer>
			<key>Points</key>
			<array>
				<string>{385.5, 101}</string>
				<string>{385.5, 223.2417}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{365, 276}, {41, 14}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>15</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 IPA File}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{357, 223.2417}, {57, 57}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>16</integer>
					<key>ImageID</key>
					<integer>4</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>14</integer>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>3</integer>
			</dict>
			<key>ID</key>
			<integer>12</integer>
			<key>Points</key>
			<array>
				<string>{150, 70}</string>
				<string>{279.64502, 70.171333}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>TailArrow</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{78.200935, 43}, {54, 54}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>10</integer>
			<key>Magnets</key>
			<array>
				<string>{0, 1}</string>
				<string>{0, -1}</string>
				<string>{1, 0}</string>
				<string>{-1, 0}</string>
			</array>
			<key>Shape</key>
			<string>Cylinder</string>
			<key>Style</key>
			<dict/>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc

\f0\fs20 \cf0 Repo}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{32, 241}, {178.11987, 53.437744}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>5</integer>
			<key>ImageID</key>
			<integer>3</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{32, 120.54578}, {146.40187, 65}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>4</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{279.64499, 43.562256}, {166.15799, 53.437744}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>3</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>5</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image4.png</string>
		<string>image3.png</string>
		<string>image2.png</string>
		<string>image1.png</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2013-01-03 13:06:54 +0000</string>
	<key>Modifier</key>
	<string>Cyril Gabathuler</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAx7X05TU2l6ZT1mZn2Wg4/SFESD9nhSRIY=</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{491, 220}, {905, 938}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-105, 0}, {770, 783}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
	<key>saveQuickLookFiles</key>
	<string>YES</string>
</dict>
</plist>
